semesterprojekt/node_modules
semesterprojekt/.idea/workspace.xml



# production
semesterprojekt/build

# misc
semesterprojekt/.DS_Store
semesterprojekt/npm-debug.log



### NetBeans ###
Backend/semesterprojectBAckend/nbproject/private/
Backend/semesterprojectBAckend/build/
Backend/semesterprojectBAckend/nbbuild/
Backend/semesterprojectBAckend/dist/
Backend/semesterprojectBAckend/nbdist/
Backend/semesterprojectBAckend/.nb-gradle/
/Backend/AirlineBackend/Backend/target/