

.resultcontainer{


    border: 1px solid black;

    width: 90%;
    margin: auto;

}

.resultBox{
display: inline-block;
    background-color: slategrey;
   width: 80%;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.8);

    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}
.leftInfoBox{

padding: 10px;
    text-align: left;
color: white;
    display: inline-block;
    left: 20px;

}
.rightInfoBox{
    color: white;
    display: inline-block;
    margin: 1px;
   padding: 10px;
}

.resultBoxHeader{

    font-size: 40px;
    margin: 0px;

}
.resultBoxInfo{
    font-size: 20px;

}
.bookButton{
width: 200px;
    height:50px;
color: white;
    margin-top: 20px;
font-size: 50px;
bottom: 1px;
    background-color: lightgreen;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}



