.searchFieldContainer{



width: 100%;
    margin: auto;
    padding: 30px 0px;
    background-color: darkslateblue;
    margin-bottom: 50px;
}



.searchfield{
display: inline-block;
margin: 0px 5px;

}



.searchfieldElement{

    display: block;
    text-align: left;
    color: white;
}

.searchfield select{
    color: black;
}


.searchButton{


    background-color: white;
padding: 10px;
    border-radius: 80%;
    -webkit-box-shadow: 0px 0px 152px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 152px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 152px 0px rgba(0,0,0,0.46);

}


.searchButton:hover{
    transform: scale(1, 2);
    -moz-transform: scale(1, 2);
    -ms-transform: scale(1, 2);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1, 2);
}

.searchButton label{

    color: darkslateblue;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5rem;


}



.flightsContainer{

    width: 90%;
    margin: auto;
    padding: 5px;
    border: 1px solid dimgrey;
margin-top: 20px;
}
.flightBox{
 width: 100%;
    margin: auto;
    background-color: dimgrey;
height: 120px;
    padding: 10px;
}

.dateBox{
    display: block;
    margin: auto;
    margin-bottom: 10px;

}
.destinationBox{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.searchFieldBlock{
    display: block;
    margin-top: 2px;

}





 input[type=text],  input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

 input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
